<div class="card text-center col-12 col-md-4 mx-2 px-0" data-deck-id="{{id}}">
    <div class="card-header">
        <h3>{{title}}</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{cards.length}} {{format_plural "card" cards.length}} in this Deck
        </p>
        <p class="card-text">
            Created on {{format_date created_at}}
        </p>
        <a href="/decks/{{id}}/flashcard" class="btn btn-primary">Edit Deck</a>
        <button class="btn btn-primary">Delete deck</button>
    </div>
</div>