<section class="container">
    {{#if allDecks.length}}
    <div class="row">
        {{#each allDecks}}
        <div class="card text-center col-12 col-md-4 mx-2 px-0">
            <div class="card-header">
                <h3>{{this.title}}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{allDecks.length}} {{format_plural "card" allDecks.length}} in this Deck
                </p>
                <button data-deck-id={{this.id}} class="btn btn-primary favBtn">Save to My Decks</button>
            </div>

        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>There are no decks available at this time.</h2>
    {{/if}}
</section>

<script src="/javascript/availableDecks.js"></script>